body {
    background-color: rgba(250, 168, 220, 0.796);
    color: whitesmoke;
}

h1, h2, h3 {
    font-size: 34px;
}

p {
    font-size: 28px;
}

/* Add styles for links */
a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: underline;
    text-decoration-color: hotpink;
}
