body {
    margin: 0;
    font-family: Arial;
  }
  .post-list {
    justify-content: center;
   
  }
  .post {
    cursor: pointer;
    position: relative;
    display: block;
  }
  .post-image {
    margin: 0;
  }
  .post-image img {
    width: 100%;
    vertical-align: top;
  }
  .post-overlay {
    background: rgba(0,0,0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  .post:hover .post-overlay{
              display: flex;
  }
  

  .post-details {
    display: block;
    text-align: center; 
}

.post-name,
.post-date,
.post-time
{
    display: block; 
    margin: 5px auto; 
}
  .post-name{

    font-size: x-large;
    font-weight: bold;

  }
  @media screen and (max-width: 768px) {
    .post-list {
      grid-gap: 3px;
    }
  }